{{ 'profile-block.css' | asset_url | stylesheet_tag }}

{% liquid
  assign block_settings = block.settings
  assign ratio = 1

  case block_settings.image_ratio
    when 'landscape'
      assign ratio = '16 / 9'
    when 'portrait'
      assign ratio = '4 / 5'
    when 'adapt'
      assign ratio = block_settings.image.aspect_ratio
  endcase

  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
%}

{% capture class %}
  profile-block profile-block--{{ block.id }} profile-block--height-{{ block_settings.height }} spacing-style size-style
{% endcapture %}

{% capture style %}
  --ratio: {{ ratio }};
  {% render 'size-style', settings: block_settings %}
  {% render 'spacing-style', settings: block_settings %}
{% endcapture %}

{% capture image_border_style %}
  --ratio: {{ ratio }};
  {% render 'border-override', settings: block_settings %}
{% endcapture %}

{% liquid
  assign media_width_desktop = '100vw'
  assign media_width_mobile = '100vw'
  assign sizes = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '240, 352, 832, 1200, 1600, 1920, 2560, 3840'
%}

{% capture image %}
  {%- if block_settings.image -%}
    {{
      block_settings.image
      | image_url: width: 3840
      | image_tag:
        width: block_settings.image.width,
        widths: widths,
        height: block_settings.image.height,
        class: 'profile-block__image border-style',
        style: image_border_style,
        sizes: sizes
    }}
  {%- else -%}
    <div class="placeholder-image border-style size-style" style="{{ image_border_style }}">
      {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero__media' }}
    </div>
  {%- endif -%}
{% endcapture %}

{% capture image_wrapper_style %}
  width: {{ block_settings.image_display_width }}%;
{% endcapture %}

{% liquid
  assign social_links = 'facebook_url,instagram_url,youtube_url,tiktok_url,twitter_url,threads_url,linkedin_url,bluesky_url,snapchat_url,pinterest_url,tumblr_url,vimeo_url,custom_url' | split: ','
%}

{% capture social_icons %}
  {%- if block_settings.show_social_icons -%}
    <div class="profile-block__social-icons">
      {% for link_key in social_links %}
        {% liquid
          assign link_url = block_settings[link_key]
          assign render_icon = true

          if link_url != blank
            case link_key
              when 'facebook_url'
                assign platform = 'facebook'
              when 'instagram_url'
                assign platform = 'instagram'
              when 'youtube_url'
                assign platform = 'youtube'
              when 'tiktok_url'
                assign platform = 'tiktok'
              when 'twitter_url'
                assign platform = 'twitter'
              when 'threads_url'
                assign platform = 'threads'
              when 'linkedin_url'
                assign platform = 'linkedin'
              when 'bluesky_url'
                assign platform = 'bluesky'
              when 'snapchat_url'
                assign platform = 'snapchat'
              when 'pinterest_url'
                assign platform = 'pinterest'
              when 'tumblr_url'
                assign platform = 'tumblr'
              when 'vimeo_url'
                assign platform = 'vimeo'
              when 'custom_url'
                assign platform = link_url | split: '//' | last | remove: 'www.' | split: '.' | first
                case platform
                  when 'x'
                    assign platform = 'twitter'
                  else
                    assign render_icon = false
                endcase
            endcase

            assign url_parts = link_url | split: '//' | last | split: '/'
            assign has_profile = false

            if url_parts.size > 1 and url_parts[1] != ''
              assign has_profile = true
            endif

            unless render_icon
              assign has_profile = true
            endunless
          endif
        %}

        {% if link_url != blank %}
          {% if request.design_mode or has_profile %}
            <div class="social-icons__icon-wrapper{% unless has_profile %} social-icons__icon-wrapper--disabled{% endunless %}">
              <a
                href="{{ link_url }}"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="{{ platform | capitalize }}"
                {% unless has_profile %}
                  {% if request.design_mode %}
                    onclick="return false;"
                    aria-disabled="true"
                  {% endif %}
                {% endunless %}
              >
                <span class="social-icons__icon-label">{{ platform | capitalize }}</span>
                {% if render_icon %}
                  <svg
                    class="social-icons__icon icon-default"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    {%- render 'icon', icon: platform -%}
                  </svg>
                {% endif %}
              </a>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {%- endif -%}
{% endcapture %}

{% if block_settings.link == blank %}
  <div
    class="{{ class }}"
    style="{{ style }}"
    {{ block.shopify_attributes }}
  >
    <div class="profile-block__img-wrapper" style="{{ image_wrapper_style }}">
      {{ image }}
    </div>
    {%- if block_settings.caption_text != blank -%}
      <div class="profile-block__caption rte">{{ block_settings.caption_text }}</div>
    {%- endif -%}
    {{ social_icons }}
  </div>
{% else %}
  <a
    href="{{ block_settings.link }}"
    class="{{ class }}"
    style="{{ style }}"
    {{ block.shopify_attributes }}
  >
    <div class="profile-block__img-wrapper" style="{{ image_wrapper_style }}">
      {{ image }}
    </div>
    {%- if block_settings.caption_text != blank -%}
      <div class="profile-block__caption rte">{{ block_settings.caption_text }}</div>
    {%- endif -%}
    {{ social_icons }}
  </a>
{% endif %}

{% schema %}
{
  "name": "Profile",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "range",
      "id": "image_display_width",
      "label": "Image Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "caption_text",
      "label": "Caption Text"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show Social Media Icons",
      "default": false
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "t:options.facebook",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "t:options.instagram",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "youtube_url",
      "label": "t:options.youtube",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "tiktok_url",
      "label": "t:options.tiktok",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "twitter_url",
      "label": "t:options.twitter",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "threads_url",
      "label": "t:options.threads",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "linkedin_url",
      "label": "t:options.linkedin",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "bluesky_url",
      "label": "t:options.bluesky",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "snapchat_url",
      "label": "t:options.snapchat",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "pinterest_url",
      "label": "t:options.pinterest",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "tumblr_url",
      "label": "t:options.tumblr",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "vimeo_url",
      "label": "t:options.vimeo",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "url",
      "id": "custom_url",
      "label": "t:settings.custom_link",
      "visible_if": "{{ block.settings.show_social_icons == true }}"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:settings.aspect_ratio",
      "options": [
        { "value": "adapt", "label": "t:options.auto" },
        { "value": "portrait", "label": "t:options.portrait" },
        { "value": "square", "label": "t:options.square" },
        { "value": "landscape", "label": "t:options.landscape" }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        { "value": "fit-content", "label": "t:options.fit_content" },
        { "value": "fill", "label": "t:options.fill" },
        { "value": "custom", "label": "t:options.custom" }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        { "value": "fit-content", "label": "t:options.fit_content" },
        { "value": "fill", "label": "t:options.fill" },
        { "value": "custom", "label": "t:options.custom" }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        { "value": "fit", "label": "t:options.fit_content" },
        { "value": "fill", "label": "t:options.fill" }
      ],
      "default": "fit",
      "visible_if": "{{ block.settings.image_ratio == 'adapt' }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        { "value": "none", "label": "t:options.none" },
        { "value": "solid", "label": "t:options.solid" }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Profile",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
