

<div
  class="password-enter color-{{ section.settings.color_scheme }}"
  data-testid="password-footer"
>
  <p class="password-enter__powered-by">
    {{ 'content.powered_by' | t }}
    <a
      href="//shopify.com"
      rel="nofollow"
      target="_blank"
      aria-label="Shopify"
      aria-describedby="a11y-new-window-message"
    >
      {{- 'icon-shopify.svg' | inline_asset_content -}}
    </a>
  </p>
  <div class="password-enter__links">
    <button
      class="button-unstyled password-enter__button"
      on:click="#password-form/showDialog"
    >
      {{ 'actions.enter_using_password' | t }}
    </button>
    <p class="password-enter__admin-link">
      {{ 'content.store_owner_link_html' | t: link: '/admin' }}
    </p>
  </div>
  <ul hidden>
    <li id="a11y-new-window-message">{{ 'accessibility.new_window' | t }}</li>
  </ul>
</div>

{% schema %}
{
  "name": "t:names.footer_password",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
